<h2 id="txtVideoCallHeader" class="txt-video-call-center-dashboard-header">
    <span id="txtVideoCallingName" class="txt-video-call-center-text-wrap"></span>
    <span class="txt-video-call-center-flex"></span>
    <div class="onoffswitch">
        <input id="txtVideoCallCenterSwitch" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"/>
        <label class="onoffswitch-label" for="txtVideoCallCenterSwitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <div class="txt-video-call-center-switch-text">
        自动接听
        <span class="txt-switch-tip">
            <p>
                自动接听开启后，客户发起视频时将在"嘟"一声提示以后自动为您接通
                <span class="txt-arrow-down"></span>
            </p>
        </span>
    </div>
    <span id="txtVideoCallZoom" class="txt-video-call-center-header-icon txt-zoom-span-small"></span>
    <span id="txtVideoCallHeaderPreImg" class="txt-video-call-center-header-icon txt-video-call-center-icon-img-pre"></span>
    <span id="txtVideoCallFullScreen" class="txt-video-call-center-header-icon txt-video-call-center-icon-fullscreen"></span>
    <span id="txtVideoCallClose" class="txt-video-call-center-header-icon txt-video-call-center-icon-hidden"></span>
</h2>