<div id="txtVideoCallCenterContent" class="txt-video-call-center-dashboard-content txt-video-call-center-flex">
    <div class="txt-video-call-center-flex" style="color: white;"></div>
    <video id="txtVideoCallCneterVideo" autoplay class="txt-video-call-center-video"></video>
    <div class="txt-video-call-center-flex" style="color: white;"></div>
    <div id="txtVideoCallCenterOperation" class="txt-video-call-center-operation-content"></div>
</div>