<h2 id="txtVideoCallPreImgHeader" class="txt-video-call-center-dashboard-pre-img-header">
    <span class="txt-video-call-center-flex"></span>
    <span id="txtVideoCallPreImgClose" class="txt-video-call-center-header-icon txt-video-call-center-icon-hidden"></span>
</h2>